
   <h1> Agilidad Aritmética </h1> 
  
  <div style="margin-left: 10px">

  
         
          <button type="button" class="btn btn-warning" (click)='irA()'>Ir a todos los juegos</button>    
          <button type="button" class="btn btn-success" [hidden]="!ocultarVerificar" (click)='NuevoJuego()'>Comenzar</button>
         {{this.nuevoJuego.tiempo}}

  


      <i class=txt>{{nuevoJuego.numero1}}</i>
      <i class=txt >{{nuevoJuego.operador}}</i>
      <i class=txt >{{nuevoJuego.numero2}}</i>
 
      
        
        <button (click)="verificar()">Verificar</button>


  
  <div [hidden]='!nuevoJuego.verifica'>
    
      <i class=txt>{{nuevoJuego.victoria}}</i>
      <br><br>
      <input readonly [(ngModel)]='nuevoJuego.calculo' class=txt type="text" style='width:60%; opacity: 50%; background-color:rgba(0, 0, 0, 0.514); text-align:center; ' >
  </div>
  