.calculadora{
  height: 450px;
  background-color: darkgrey;
  
}
.pantalla{
  margin-top: 10px;
  margin-left: 5%;
  height: 70px;
  background-color: rgba(144, 233, 235, 0.541);

}

table button{

  height: 90px;
  width: 100px;
  
  
 
}

.btnMenos{
  width: auto;
}

.tiempo{
  float: right;
  border-style: solid;
  border-color: darkslategray;
  background-color: darkseagreen;
  color: darkgoldenrod;
  height: 100px;
  margin-left: 5px;

}
