
   
  <div class=" container">


      <div class=" row justify-content-sm-center">
        
          <h1> Agilidad Aritmética </h1> 
        
        </div>

        <div class=" row justify-content-sm-center">
          <button class="btn btn-danger" (click)="NuevoJuego()">iniciar Juego</button>
          <div class="col-sm-4 calculadora ">
            <div class=" row pantalla col-sm-11">
               {{this.nuevoJuego.calculo}} = {{this.nuevoJuego.resultadoUsuario}} 
                
            </div>

            <div class="row justify-content-sm-center col-sm-9">
              <div class="botonera col-sm-11"> 
              <table> 
                <tr>  
                  <td><button (click)="IngresarNumero(1)" class="btn btn-warning"> 1 </button></td> <td><button (click)="IngresarNumero(2)"  class="btn btn-warning"> 2 </button></td> <td><button (click)="IngresarNumero(3)" class="btn btn-warning"> 3 </button></td>
                </tr>
                  <tr>  
                      <td><button (click)="IngresarNumero(4)"  class="btn btn-warning"> 4 </button></td> <td><button (click)="IngresarNumero(5)"  class="btn btn-warning"> 5 </button></td> <td><button (click)="IngresarNumero(6)"  class="btn btn-warning"> 6 </button></td>
                    </tr>
                    <tr>  
                        <td><button (click)="IngresarNumero(7)"  class="btn btn-warning"> 7 </button></td> <td><button (click)="IngresarNumero(8)"  class="btn btn-warning"> 8 </button></td> <td><button (click)="IngresarNumero(9)"  class="btn btn-warning"> 9 </button></td>
                      </tr>
                      <tr>  
                          <td><button (click)="IngresarNumero(0)"  class="btn btn-warning btno"> 0 </button></td> <td><button (click)="IngresarNumero('-')" class="btn btn-warning btnMenos"> "-" </button></td> 
                          <td><button (click)="Verificar()"  class="btn btn-success"> Verificar </button></td> 
                        </tr>
                
              </table>
            </div>

            <div *ngIf="this.nuevoJuego.resultadoJuego == 'gano' || this.nuevoJuego.resultadoJuego == 'perdio'" class="mensaje">{{Mensajes}} </div>
            </div> 
            

          </div>

          <div class="tiempo col-sm-2 justify-content-sm-center"><label>Tiempo:</label><br> <h1> {{this.nuevoJuego.tiempo}} </h1> </div>
        
       
          
        </div>
        
      
      
    
  </div>